*{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(../img/julian-seifert-olszewski-city-shot-ful.jpg);
    background-position: center top;
    background-size: cover;
}

.login-box
{
    width: 40%;
	background: rgba(0, 0, 0, 0.8);    
    color: #fff;
    padding: 5% 0;
    margin: 10% auto auto auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.login-box h1 
{
    text-align: center;
    padding-bottom: 30px;
    font-size: 45px;
}

.input-box
{
    margin: 20px auto;
	width: 80%;
	border-bottom: 1px solid #fff;
	padding-top: 10px;
	padding-bottom: 5px;
    
}

.input-box input
{
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    color:#fff;
    padding-left: 10px;
}

.fa
{
    margin-right: 10px;
}

.login-button
{
    text-align: center;
    width: 80%;
    margin: 40px auto 20px;
    padding: 10px 0;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    border-radius: 15px;
	cursor: pointer;
    font-size: 17px;
}

::placeholder 
{
	color: #cccccc;
    text-decoration: wavy;
}

.eye
{
    position: absolute;
}

#hide-eye
{
    display: none;
}

.login-box p, h1 {
	text-align: center;
	margin-bottom: 40px;
    display: block;
    color: #ffffff;
}

.login-box h1
{
    font-size: 45px;
}
.login-box p a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    transition: 0.3s;
}

.login-box p a:hover
{
    font-style:italic;
}

.login-box p:hover {
	transform: translateY(-3px);
}

.login-box p
{
    transition: transform 0.7s;
}

#welcome
{
    display: none;
}